<div>
  <h2>Task Tracker</h2>
  <h3>Version 1.0.0</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda maxime,
    facere quia ipsum veniam obcaecati consectetur, quidem quas accusamus nobis
    nostrum, vitae itaque corrupti deleniti eligendi minima possimus illo
    tempora! Odit suscipit, distinctio repellendus voluptatum explicabo corporis
    sunt, ex atque tempore quis aliquid molestias fugiat deserunt reprehenderit
    rerum delectus voluptates similique necessitatibus eos consequuntur numquam
    iure, exercitationem at tenetur. Dolores.
  </p>
  <a routerLink="/">Go back</a>
</div>
